.projects-section {
    background-color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.projects-section h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-black);
}

.projects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30rem;
    background-color: var(--primary-white);
    margin: 17rem 0;
}

.project-card {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    gap: 115px;
}

.project-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-text-header {
    display: flex;
    gap: .7rem;
}

.project-text-header a {
    color: var(--primary-black);
    transition: transform 0.3s ease;
}

.project-text-header a:hover {
    transform: translate(5px, -5px);
}

.project-text h6 {
    color: var(--primary-green);
}

.project-text h2 {
    color: var(--primary-black);
    font-size: 2rem;
    line-height: 2.4rem;
}

.project-text p {
    color: var(--primary-black);
    font-size: 1rem;
    line-height: 2rem;
}

.project-images {
    position: relative;
}

.project-images .image1 {
    position: relative;
    width: 20rem;
    height: auto;
    margin-top: -1rem;
    z-index: 10;
}

.project-images .image2 {
    position: absolute;
    width: 25rem;
    right: 15rem;
    top: -10rem;
}

.project-images .image3 {
    position: absolute;
    height: 22rem;
    right: 21.5em;
    top: 2rem;
    background-color: white;
    padding: 7px 0;
    border-radius: 1rem;
    box-shadow: 10px 10px 2rem rgba(0, 136, 108, 0.5);
    animation: bounce 10s infinite;
}

@keyframes bounce {
    50% {
        transform: translateY(-20px);
    }
}